.debug-info {
    margin-left: 16px;
    font-family: monospace;
    font-size: 15px;
}

table.map {
    border-collapse: collapse;
    table-layout: fixed;
}

.tile {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    cursor: default;
}

.terrain-grassland {
    background-color: #aaddaa;
}

.nation-phoenicia {
    color: #2222cc;
}

.city {
    background-color: aqua;
}

.unit-selected {
    border: red solid 2px;
    padding: 0;
}

.city-div {
    top: 64px;
    left: 64px;
    width: 640px;
    height: 700px;
    position: fixed;
    border: 5px black solid;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 24px;
    font-size: larger;
}

table.building {
    border: 1px solid black;
    margin: 8px;
}

.building-unit {
    border: 1px solid black;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    cursor: default;
}

table.tiles {
    border: 1px solid black;
    margin: 8px;
}

