<h1 style="margin-top: 6px; margin-bottom: 6px;" id="city-name"></h1>
<div style="display: flex; align-content: stretch;">
    <div style="display: flex; flex-direction: column; flex-grow: 1;">
        <div>
            <h3>Buildings</h3>
            <div id="city-buildings"></div>
        </div>
        <div>
            <h3>Tiles</h3>
            <table class="tiles" id="city-tiles"></table>
        </div>
    </div>
    <div style="flex-grow: 1;">
        <div>
            <h3>Goods</h3>
            <div id="city-goods"></div>
        </div>
        <div>
            <h3>Out of gates</h3>
            <div class="div-out-of-gate" id="city-out-of-gate"></div>
        </div>
    </div>
</div>